<%= form_for @movie, html: { multipart: true, class: 'form-horizontal' } do |f| %>

  <%= render 'errors' %>

  <div class='form-group'>
    <%= f.label :title, class: 'sr-only control-label' %>
    <div class='col-sm-12'>
      <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :release_date, class: 'sr-only control-label' %>
    <div class='col-sm-12'>
      <%= f.date_field :release_date, placeholder: 'yyyy/mm/dd', class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :director, class: 'sr-only control-label' %>
    <div class='col-sm-12'>
      <%= f.text_field :director, placeholder: 'Director', class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :runtime_in_minutes, class: 'sr-only control-label' %>
    <div class='col-sm-12'>
      <%= f.number_field :runtime_in_minutes, placeholder: 'Runtime (min)', class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <div class='col-sm-12'>
      <%= f.label :poster_image, 'Image' %>
      <%= f.file_field :poster_image %>
      <% if f.object.poster_image %>
        <%= image_tag f.object.poster_image.url %><br>
        <%= f.label :remove_poster_image %>
        <%= f.check_box :remove_poster_image %>
      <% end %>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :description, class: 'sr-only control-label' %>
    <div class='col-sm-12'>
      <%= f.text_field :description, placeholder: 'Summary', class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <div class='col-sm-12'>
      <%= f.submit 'Submit', class: 'btn btn-default' %>
    </div>
  </div>
<% end %>