<div class="col-sm-12">
  <h2>Reviews</h2>
</div>

<div class="col-sm-12">
  <% if current_user %>
    <%= render partial: '/movies/new_review_form', locals: { movie: @movie } %>
  <% else %>
    <p><a href="#" data-toggle="modal" data-target="#login">Login</a> to add a review! </p>
  <% end %>
</div>

<div class="col-sm-12" id="reviews">

  <% @reviews.each do |review| %>
    <div id="review">
      <p><%= review.text %></p>
      <p><%= review.rating_out_of_ten %>/10</p>
      <small>- <%= review.user.firstname %></small>
    </div>
  <% end %>

  <%= paginate @reviews %>
  <%= page_entries_info @reviews %>
</div>