<%= form_tag(movies_path, { method: "get", class: "form-inline" }) do %>
  <div class="form-group">
    <%= label_tag :title, "Title", class: "sr-only" %>
    <%= text_field_tag :title, nil, class: "form-control", placeholder: "Title" %>
  </div>
  <div class="form-group">
    <%= label_tag :director, "Director", class: "sr-only" %>
    <%= text_field_tag :director, nil, class: "form-control", placeholder: "Director" %>
  </div>
  <%= label_tag :runtime, "Runtime:", class: "sr-only" %>
  <%= select_tag :runtime, options_for_select(['Runtime', 'Under 90 min', '90-120 min', 'Over 120 min']), class: "form-control", placeholder: "Runtime" %>
  <%= submit_tag "Search", class: "btn btn-default" %>
<% end %>