<div class="col-md-12" id="movie-show">
  <div class="col-md-3" id="image-show">
    <%= image_tag @movie.poster_image.url, class: 'show-poster-img', id: 'image' %>
  </div>
  <div class="col-md-9">
    <h1><%= @movie.title %> </h1>
    <p><a href="#" data-toggle="modal" data-target="#editMovie" id="addMovieNav">edit</a> | <%= link_to 'delete', movie_path(@movie), method: :delete, data: {confirm: 'You sure?'} %></p>
    <h3>Average Rating: <%= @movie.review_average %></h3>
    <h3>Released: <%= formatted_date(@movie.release_date) %></h3>
    <h4>Dir. <%= @movie.director %> | <%= @movie.runtime_in_minutes %> minutes </h4>
    <p><%= @movie.description %></p>
  </div>
</div>

<div class="col-md-12">
  <%= render 'reviews' %>
</div>