<h1>Users</h1>
<hr>

<%= link_to "Add an admin", new_admin_user_path %>
<hr>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Created</th>
    <th>Admin?</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.full_name %></td>
      <td><%= user.email %></td>
      <td><%= user.created_at %></td>
      <td><%= user.admin == 1 ? 'Y' : 'N' %></td>
    </tr>
  <% end %>
</table>

<br>
<%= paginate @users %>
<%= page_entries_info @users %>
<hr/>